* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: white;
    text-align: left;
}



h1 {
    color: rgb(49, 69, 109);
    margin-bottom: 20px;
}

h2, h3 {
    color: rgb(49, 69, 109);
    margin-bottom: 10px;
}

/* NAVIGATION */

.logo {
    height: 80px; 
    margin-top: 15px;
    margin-left: 10%; 
}

.navi-bar {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
}

.menu {
    position: absolute;
    right: 10%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 100px;
}

.menu a {
    padding: 10px 20px;
    color: rgb(49, 69, 109);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    transition: color .3s;
}


.menu a:hover{
    color: snow;
    font-weight: bold;
}

.contact {
    font-weight: bold;
    /* border: 1px;
    border-radius: 10px;
    border-style:solid;
    border-color: rgb(49, 69, 109);  */
}

/* DIV CONTENT */

.content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 141, 47);
}

/* HERO */

.container {
    display: flex;
    align-items: center;  
    justify-content: center;    
    background-color: whitesmoke;    
}

.profile-img {
    max-width: 100%;
} 

.header-img {
     flex-basis: 30%;
}

.header-text {
    margin-left: 10px;
}

 /* MAIN */

 main {     
     margin: 50px auto;
}

 .about-site-heading {
     margin-bottom: 50px;
     text-align: center;
}

 section {
    width: 30%;
    margin: 50px auto;
     
}

 /* FOOTER */

footer {
     height: 80px;
     line-height: 80px;
     background-color: whitesmoke;
     text-align: center;
     font-size: 12px;
}

.foot-ico {
    margin-left: 50px;
}

.foot-ico i {
     padding: 0 15px;
     color: rgb(49, 69, 109);
     font-size: 24px;
     transition: color .3s;
}

.foot-ico i:hover {
    color: snow;
    font-weight: bold;
}

/* CONTACT FORM */

.cont-conteiner {
    width: 500px;
    margin: 50px auto;
    background: none;
}

.cont-conteiner h1 {
    text-transform: uppercase;
    color: white;
}

.cont-conteiner h2 {
    color: white;
    margin-bottom: 25px;
}

.cont-conteiner label {
    color: white;
}

.cont-conteiner input {
    width: 100%;
    margin-bottom: 25px;
    border: none;
}

.cont-conteiner textarea {
    width: 100%;
    margin-bottom: 50px;
    border: none;
}

.submit-btn {
    border-style: solid;
    border-color: white
    line-height: 44px;
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    background: none;
}

.submit-btn:hover {
    background-color: white;

}

.submit-btn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);;
}





}